.recommended-playlists {
    text-align: center;
    margin: 20px;
    color: white; /* Text color */
}

.playlist-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-color: black; /* Background color */
}

.playlist-item {
    width: 250px;
    border: 1px solid grey; /* Border color */
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    background-color: white; /* Background color */
}

.playlist-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid grey; /* Border color */
}

.playlist-item h3 {
    padding: 10px;
    background-color: red; /* Title background color */
    color: white; /* Title text color */
    margin: 0;
}
